* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}


html{
    height: 100%;
}

body {
    height: 100%;
	padding: 0;
	margin: 0;
    background-position-x: 0%;
    background-position-y: 0%;
    background: rgb(246, 246, 246) no-repeat scroll;
    background-size: auto auto;
    background-origin: padding-box;
    background-clip: border-box;
}

/*----------------------空间整体布局----------------------------------------
整体空间布局，采用上中下设计
上部：固定的导航栏
中部：主题部分，具体博客内容，采用左中右布局
下部：备案及版权信息
--------------------------------------------------------------*/
body {
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

#header{
    /* 我们希望 header 采用固定的高度，且只占用内部元素必须的空间 */
     /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}

#main {
    /* 将 flex-grow 设置为1，该元素会占用全部可使用空间
      而其他元素该属性值为0，因此不会得到多余的空间*/
    /* 1 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 1 0 auto
}

#footer{
    /* 和 header 一样，footer 也采用固定高度，且只占用内部元素必须的空间*/
    /* 0 flex-grow, 0 flex-shrink, auto flex-basis */
    flex: 0 0 auto;
}
/* 主体内容部分空间布局，采用左中右布局 */
#main-left {
    width:20%;
    float:left;
    display: inline-block;
}

#main-middle {
    width:60%;
    display: inline-block;
}

#main-right {
    width:20%;
    float:right;
    display: inline-block;
}

/* 顶部导航栏　*/
/* 顶部导航栏基础样式　*/
.menu_item {
    padding:0 20px;
    text-align: center;
    display: inline-block;
    height:60px;
    line-height:60px;

    margin: 0px;
    position: relative;
    z-index: 1;
    list-style: outside none none;
    vertical-align: top;
    word-spacing: normal;
}

/* 顶部导航栏增加鼠标移动返现效果，主要透明度渐变　*/
.topNav {
	position:absolute;
	top:0;
	z-index:999;
	width:100%;
	background:rgba(255,255,255,0);
    transition: background-color 1s ease 0s;
}

.topNav:hover {
	background:rgba(255,255,255,0.85);
	transition:background-color .3s ease 0s;
}

/* 增加导航文字颜色渐变效果　*/
.menu_item>a {
    text-decoration: none;
    color:rgba(83,104,121,0.2); /* 导航栏非高亮时的字体颜色和透明度　*/
}

.topNav:hover li>a {
	color:#536879;  /* 导航栏高亮时的字体颜色　*/
	transition:color .3s
}
.topNav:hover li>a:hover {  /* 移动到具体项时的文字颜色　*/
	color:#38a3fd;
	transition:color .3s
}

.menu {
    height: 60px;
    //text-align: right;
    margin: 0px;
    opacity: 1;

    padding: 0px;
    display: block;
    white-space: nowrap;
    overflow: hidden;
    word-spacing: -0.43em;
}

/* 增加移动到文字时的高亮效果 */
.topNav li>a:hover {
	background:#fff;
    //text-decoration: overline;
	box-shadow:0 2px 0 #38a3fd inset;
	transition:0s
}

.top-img {
    margin-top:60px;
    height:60px;
    background-color:#888888;
}

/*----------------------------------------------------------
侧边栏--个人信息栏
-----------------------------------------------------------*/
.sidebar{
    width: 100%; /* 侧边填满整个空间 */
    display: inline-block;
    zoom: 1;
    letter-spacing: normal;
    word-spacing: normal;
    vertical-align: top;
    text-rendering: auto;

    box-shadow:0 1px 2px rgba(10,45,80,0.15);
	border-top:2px solid #38a3fd;
	border-radius:0 0 6px 6px;

	background:#fff;
	overflow:hidden;
	margin-bottom:24px
}

.sidebar-designer {
    /* 与侧边上下增加空白区域 */
	padding:30px 0 40px;
	/* text-align:center; */
	position:relative
}

/* 用户信息整体居中 */
.designer {
    text-align: center;
    top: auto;
    margin: 1em auto;
}

/* 头像设计 */
.avatar {
    margin-top: 30px;
    text-align: center;
}

.avatar img {
    border-radius: 50%;
    border:2px solid #fff;
	box-shadow:0 0 0 2px #d0e0f0;
    /*-webkit-transition: .5s;*/
    /*-moz-transition: .5s;*/
    /*-ms-transition: .5s;*/
    /*-o-transition: .5s;*/
    /*transition: .5s;*/
}

/* 鼠标移动到头像高亮效果 */
.avatar img:hover {
	box-shadow:0 0 0 2px #38a3fd,0 5px 8px rgba(56,163,253,.38);
    /* 有个渐变效果 */
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -o-transition: .5s;
    transition: .5s;
}

/* 昵称及签名效果 */
.brand-title {
    text-transform: uppercase;  /* 强制字母大写 */
}
.brand-tagline {
    font-weight: 300;
    color: rgb(176, 202, 219);
}
.brand-title,
.brand-tagline {
    margin: 0;  /* 强制字母大写 */
}

/* 用户信息分割线 */
.sidebar-designer>div:not(:last-child)  {
	border-bottom:1px solid #f0f2f4
}

.sns a {
    color:#b2b4b6;
    margin:0 3px;
    font-size:16px
}

.sns a:hover {
	color:#38a3fd;
}


/*--------------------------------------------------------------
### Widget tabbed post widget style
--------------------------------------------------------------*/
/* 头部切换菜单 */
.tabs {
    width: 100%;
    display: inline-block;
}


.tab-links {
    margin-bottom: 10px;
    overflow: hidden;
	padding: 0 0 0 0;
}

.tab-links li {
	display: inline-block;
    border: medium none;
    float: left;
    text-align: center;
    width: 33.33%;
    padding: 0;
}

.tabs .tab-links li a {
    padding: 5px 0;
    background: #616161;
    color: #fff;
    display: block;
    border-left: 1px solid rgba(255, 255, 255, 0.24);
    font-size: 14px;
}

.tabs .tab-links li.active a,
.tabs .tab-links li a:hover {
    background: #38a3fd;
    color: #fff;
}
/* 侧边栏具体内容显示 */
.tab-content li {
    border-bottom: 1px solid #dddddd;
    clear: both;
    float: left;
    width: 100%;
    padding: 7px 0 0 0;
    margin: 0;
}

.tab-content img {
	width: 70px;
	height: auto;
}

.side-item-thumb {
    float: left;
    margin-right: 15px;
    width: 70px;
}

.side-item {
    clear: both;
    margin-bottom: 10px;
    float: left;
    width: 100%;
}

.tabs h3 {
	margin-top: 0;
    font-size: 14px;
    margin-bottom: 5px;
    font-weight: 500;
}

.entry-meta {
    margin-top: 0;
    margin-bottom: 0;
	font-size: 10px;
}

.comment-item-title strong {
    color: #ee3333;
    text-transform: capitalize;
}

.tab {
    display: none;
}

.tab.active {
    display: block;
}

/* 备案信息 */
.copyright {
    font-size: 16px;
    width:100%;
    margin:0 auto;
    padding:20px 0;
    text-align: center;
    color:#939393;
}

.copyright a {
    display:inline-block;
    text-decoration:none;
    color:#939393;
}

.articlelist {
    width:100%;
    border:2px solid #e3e4e4;
    margin: 1px 4px 4px 0;
    padding: 4px;
}

/* 标题样式设计 */
.article-title {
	display: inline-block;
    text-decoration: none;
}

.article-title>a {
    font-size: 20px;
    font-weight: bold;

    color: #000000 ;
    text-decoration: none;
}

.article-flag {
    margin-top: 4px;
	width: 22px;
	height: 22px;

    display: inline-block;
    line-height: 20px;
	text-align: center;
	font-size: 16px;
    border: 1px solid;
    border-radius: 30%;
}

.article-type {
    border-color: #ffafbb;
	color: #ca0c16;
}

.article-recommend {
    border-color: #8382ca;
    color: #2828ca;
}

