<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>累不死的牛</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <!-- 特殊媒体符号 -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/fontaesome/css/font-awesome.min.css' %}" />#}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

    <script type="text/javascript" src="{% static 'js/jquery-3.2.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/custom.js' %}"></script>
</head>
<body>
<div id="header">
    <div  class="topNav">
    <ul class="menu">
        {% for topNav in top_nav %}
        <li class="menu_item"><a href="{% url 'index' %}">{{ topNav.name }}</a></li>
        {% endfor %}
    </ul></div>
    <div class="top-img"></div>
</div>
<div id="main">
    <div id="main-left">
        <div class="sidebar">
        <div class="sidebar-designer">
            <div class="designer">
                <div class="avatar">
                    <a href="https://www.noinf.com/" title={{ userInfo.nicename }}>
                        <img src="{% static "images/avatar.png" %}" alt="{{ userInfo.nicename }}的头像" width="50%">
                    </a>
                </div>
                <h2 class="brand-title">{{ userInfo.nicename }}</h2>
                <h4 class="brand-tagline">{{ userInfo.motto }}</h4>
            </div>
            <div class="sns">
                <a href="https://www.noinf.com/feed" target="_blank" rel="nofollow" title="RSS">
                    <i class="fa fa-rss" aria-hidden="true">RSS</i>
                </a>
                <a href="{{ userInfo.weibo }}" target="_blank" rel="nofollow" title="{{ fielddic.weibo }}">
                    <i class="fa fa-weibo" aria-hidden="true">{{ fielddic.weibo }}</i>
                </a>
                <a href="{{ userInfo.github }}" target="_blank" rel="nofollow" title="{{ fielddic.github }}">
                    <i class="fa fa-github" aria-hidden="true">{{ fielddic.github }}</i>
                </a>
            </div>
        </div>
        <div class="tabs">
            <ul class="tab-links">
                <li class="tab tab-recent active">
                    <a href="#tab2-1">
                        <i class="fa fa-list">近期发布</i>
                    </a>
                </li>
                <li class="tab tab-popular">
                    <a href="#tab2-2">
                        <i class="fa fa-fire">热门文章</i>
                    </a>
                </li>
                <li class="tab tab-comments">
                    <a href="#tab2-3">
                        <i class="fa fa-comment">近期评论</i>
                    </a>
                </li>
            </ul>
            <div class="tab-content">
                <div id="tab2-1" class="tab active" style="display: block;">
                    <div class="side-list">
                        {% for article in last_article_list|slice:":5" %}
                        <div class="side-item">
                            <div class="side-item-thumb">
                                <a href="{% url 'detail' article.id %}"><img
                                        src="/"
                                        class="attachment-thumbnail size-thumbnail wp-post-image" alt=""
                                        width="50" height="50"></a>
                            </div><!-- .latest-item-thumb -->
                            <div class="side-item-text-wrap">
                                <h3 class="side-item-title">
                                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
                                </h3>
                                <div class="side-item-meta entry-meta">
                                    <span class="fa fa-calendar">{{ article.date_publish | date:'Y-m-d' }}</span>
                                </div>
                            </div><!-- .latest-item-text-wrap -->
                        </div><!-- .latest-item -->
                        {% endfor %}
                    </div><!-- .latest-list -->
                </div>
                <div id="tab2-2" class="tab" style="display: none;">
                    <div class="side-list">
                        {% for article in popular_article_list|slice:":5" %}
                        <div class="side-item">
                            <div class="side-item-thumb">
                                <a href="{% url 'detail' article.id %}">
                                    <img src="/" class="attachment-thumbnail size-thumbnail wp-post-image" alt="" width="150" height="150">
                                </a>
                            </div>
                            <div class="side-item-text-wrap">
                                <h3 class="side-item-title">
                                    <a href="{% url 'detail' article.id %}">{{ article.title }}</a>
                                </h3>
                                <div class="side-item-meta entry-meta">
                                    <span class="fa fa-calendar">{{ article.date_publish | date:'Y-m-d' }}</span>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
                <div id="tab2-3" class="tab" style="display: none;">
                </div>
            </div>
        </div>
    </div>
    </div>
    <div id="main-middle">
        {% if last_article_list %}
        {% for article in last_article_list %}
        <div class="articlelist">
            <div class="article-title">
                {% if article.is_recommend %}
                <span class="article-flag article-recommend">荐</span>
                {% endif %}
                <span class="article-flag article-type" >原</span>
                <a href="{{ article.get_absolute_url }}">
                    {{ article.title }}
                </a>
            </div>
            <div class="article-content">
                {{ article.content|truncatewords:5|linebreaks }}
            </div>
            <div class="article-meta">
                <div class="article-folder">
                    <a class="fa fa-folder-open">{{ article.category.pid }}</a>.<a>{{ article.category  }}</a>
                    <i class="fa fa-tags"></i>
                    {% for tag in  article.tag.all %}
                    <a class="tag-item">{{ tag }}</a>
                    {% endfor %}
                </div>
                <div class="article-info">
                    <span class="fa fa-user">{{ article.user.nicename }}</span>
                    <span class="fa fa-clock-o">{{ article.date_publish | date:'Y-m-d' }}</span>
                    <span class="fa fa-eye">{{ article.click_count }}阅读</span>
                    <span class="fa fa-comments-o">{{ article.comment_set.all.count }}评论</span>
                    <span class="fa fa-heart-o">{{ article.likes_count }}喜欢</span>
                </div>
            </div>
        </div>
        {% endfor %}
        {% endif %}
    </div>
    <div id="main-right">
        test:main-right
        <div id="ad">
        </div>
    </div>
</div>
<div id="footer">
    <!-- 备案信息 -->
    <div class="copyright">
        Copyright © 2016-2018 / noinf / All Rights Reserved. /
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode={{ beian_police_no }}">
            <img src="{% static '/images/public_regist.png' %}" />{{beian_police}}</a>
         /
        <a target="_blank" href="http://www.miitbeian.gov.cn/">{{beian_miit}}</a>
    </div>
</div>
</body>
</html>
