<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>累不死的牛</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
</head>
<body>
<div id="header"></div>
<div id="main"></div>
<div id="footer">
    <!-- 备案信息 -->
    <div class="copyright">
        Copyright © 2016-2018 / noinf / All Rights Reserved. /
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33022502000082">
            <img src="{% static '/images/public_regist.png' %}" />浙公网安备 {{beian_police}}</a>
         /
        <a target="_blank" href="http://www.miitbeian.gov.cn/">浙ICP备{{beian_miit}}</a>
    </div>
</div>
</body>
</html>
