<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of posts.">

    <title>累不死的牛</title>

    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static '/css/style.css' %}" />
    <!-- 特殊媒体符号 -->
{#    <link rel="stylesheet" type="text/css" href="{% static 'css/fontaesome/css/font-awesome.min.css' %}" />#}
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">

</head>
<body>
<div id="header">
    <div  class="topNav">
    <ul class="menu">
        {% for topNav in top_nav %}
        <li class="menu_item"><a href="{% url 'index' %}">{{ topNav.name }}</a></li>
        {% endfor %}
    </ul></div>
    <div class="top-img"></div>
</div>
<div id="main">
    <div class="sidebar">
        <div class="sidebar-designer">
            <div class="designer">
                <div class="avatar">
                    <a href="https://www.noinf.com/" title={{ userInfo.nicename }}>
                        <img src="{% static "images/avatar.png" %}" alt="{{ userInfo.nicename }}的头像" width="50%">
                    </a>
                </div>
                <h2 class="brand-title">{{ userInfo.nicename }}</h2>
                <h4 class="brand-tagline">{{ userInfo.motto }}</h4>
            </div>
            <div class="sns">
                <a href="https://www.noinf.com/feed" target="_blank" rel="nofollow" title="RSS">
                    <i class="fa fa-rss" aria-hidden="true">RSS</i>
                </a>
                <a href="{{ userInfo.weibo }}" target="_blank" rel="nofollow" title="{{ fielddic.weibo }}">
                    <i class="fa fa-weibo" aria-hidden="true">{{ fielddic.weibo }}</i>
                </a>
                <a href="{{ userInfo.github }}" target="_blank" rel="nofollow" title="{{ fielddic.github }}">
                    <i class="fa fa-github" aria-hidden="true">{{ fielddic.github }}</i>
                </a>
            </div>
        </div>
    </div>
</div>
<div id="footer">
    <!-- 备案信息 -->
    <div class="copyright">
        Copyright © 2016-2018 / noinf / All Rights Reserved. /
        <a target="_blank" href="http://www.beian.gov.cn/portal/registerSystemInfo?recordcode=33022502000082">
            <img src="{% static '/images/public_regist.png' %}" />浙公网安备 {{beian_police}}</a>
         /
        <a target="_blank" href="http://www.miitbeian.gov.cn/">浙ICP备{{beian_miit}}</a>
    </div>
</div>
</body>
</html>
